<h1>Ваш заказ принят!</h1>
<h3>Состав заказа:</h3>
<div>
    {% for goods in order.goodsItems %}
        <div>
            <a href="{{ goods.url(true) }}">{{ goods.title }}</a> - {{ goods.quantity }} шт.
        </div>
    {% endfor %}
</div>
<h3>Итоговая сумма: <b>{{ order.amount | number_format(0, '.', ' ') }} ₽</b></h3>