<h1>Поступил новый заказ из инернет-магазина!</h1>
<h3>Состав заказа:</h3>
<div>
    {% for goods in order.goodsItems %}
        <div>
            <a href="{{ goods.url(true) }}">{{ goods.title }}</a> - {{ goods.quantity }} шт.
        </div>
    {% endfor %}
</div>
<h3>Итоговая сумма: <b>{{ order.amount | number_format(0, '.', ' ') }} ₽</b></h3>
<h5>Контакты для связи</h5>
<div>
    Имя: {{ order.username }}
</div>
<div>
    Email: {{ order.email }}
</div>
<div>
    Телефон: {{ order.phone }}
</div>
<div>
    Комментарий: {{ order.comment }}
</div>